<ion-view view-title="Contact Us">
  <ion-content>
      <div class="card">
          <div class = "item item-divider">
              Loaction Information 
          </div>
          
          <div class = "item item-text-wrap">
            <p>   Our Address <br>

            121, Clear Water Bay Road <br>
            Clear Water Bay, Kowloon <br>
            HONG KONG 
            </p>
                <i class="icon ion-android-call"></i>: +852 1234 5678<br>
                <i class = "icon ion-ios-printer"></i>: Fax: +852 8765 4321 </p>
                <i class = "icon ion-paper-airplane"></i>: Email:confusion@food.net </p>
          </div>
          
              <div class = "button-bar">
                <div class="button button-positive"><i class="icon ion-android-call"></i> Call </div>
                <div class = "button button-calm"><i class = "icon ion-social-skype"></i> Skype</div>
                <div class = "button button-balanced"><i class = "icon ion-paper-airplane"></i> E-mail</div>
              </div>    
  </ion-content>
</ion-view>

